/* ------------------  Global Styling ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --primary-color: #4B5DAC;
    --secondary-color: #C6CADD;
    --bg-color: rgba(232, 233, 239, 1);
    --text-color: #333;
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

/* ------------------  Form Container ------------------ */

#form-container {
    width: 400px;
    box-shadow: var(--shadow);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    display: block;
    width: 100px;
    margin: 0 auto 20px auto;
}

#welcome-message {
    text-align: center;
    margin-bottom: 20px;
}

#welcome-message h1 {
    font-size: 36px;
    margin: 0;
    color: var(--primary-color);
}

#welcome-message p {
    font-size: 16px;
    color: rgb(97, 98, 105);
    font-weight: 300;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    font-size: 16px;
    line-height: 1.7em;
}

.form-field input {
    width: 100%;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding-right: 30px; /* Space for the eye icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.7;
}

.toggle-password:hover {
    opacity: 1;
}

.form-field input[type='submit'],
.btn {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.form-field input[type='submit']:hover,
.btn:hover {
    background-color: darken(var(--primary-color), 10%);
}

.btn:disabled {
    background-color: var(--secondary-color);
    cursor: not-allowed;
}

.btn-container {
    display: flex;
    justify-content: space-between; /* Space between buttons */
    margin-top: 20px;
    column-gap: 10px; /* Consistent spacing between buttons */
}

@media screen and (max-width: 450px) {
    #form-container {
        width: 95%;
    }

    #welcome-message h1 {
        font-size: 24px;
    }
}

/* ------------------  Streams Page ------------------ */

#room-name-wrapper {
    text-align: center;
    font-size: 18px;
}

#video-streams {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 95%;
    margin: 0 auto;
}

.video-container {
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 2px;
    background-color: var(--secondary-color);
    position: relative;
}

.video-player {
    height: 100%;
    width: 100%;
}

.video-player > * {
    border-radius: 5px;
}

.username-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 1650px) {
    .video-container {
        flex-basis: 300px;
        min-height: 200px;
    }
}

/* ------------------  Streams Page | Controls ------------------ */

#controls-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
}

.control-icon {
    height: 20px;
    width: 20px;
    box-shadow: var(--shadow);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control-icon:hover {
    background-color: var(--primary-color);
    color: #fff;
}

#leave-btn {
    background-color: rgb(255, 80, 80, 1);
    color: #fff;
}

#chat-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-top: 1px solid #ccc;
}

#chat-window {
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
}

#chat-form {
    display: flex;
    padding: 10px;
}

#chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

#chat-form button {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
